<nav class="sidebar-nav">
  <div class="nav-site-title">
    <a href="{{ '/' | relative_url }}">JPCサポートサイト</a>
  </div>

  <div class="nav-section nav-section--pinned">
    <div class="nav-section-title">はじめに</div>
    <ul>
      <li><a href="{{ '/' | relative_url }}">トップ</a></li>
    </ul>
  </div>

  <div class="nav-section">
    <div class="nav-section-title">3ヶ月個別サポート</div>
    <ul>
      <li><a href="{{ '/3ヶ月個別サポート/マニュアル' | relative_url }}">マニュアル</a></li>
      <li><a href="{{ '/3ヶ月個別サポート/Zoom記録/' | relative_url }}">Zoom記録一覧</a></li>
    </ul>
  </div>

</nav>
